  <!-- Fixed navbar -->
  <nav class="navbar navbar-dark bg-dark" style="background-color: #181e22">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-4:index' %}" style="color:aliceblue">Home</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          <li><a href="{% url 'lab-4:index' %}#form" style="color:aliceblue"> Form </a></li>
          <li><a href="{% url 'lab-4:result_table' %}" style="color:aliceblue"> Messages Table </a> </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
