body {
  min-height: 2000px; 
  background-color: #d6eaf8;
  color: #14181b;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}
.navbar-header{
  color: blanchedalmond;
}
